#root, body, html {
  height: 100%;
  background-color: #fff;
}

.noselect {
  user-select: none;
}

::selection {
  background: #ccc;
}

.strong {
  font-family: Lato;
  font-weight: 700;
}

.background-empty {
  height: 100vh;
  width: 100%;
  visibility: hidden;
}

.background {
  height: 100vh;
  width: 100%;
  position: fixed;
}

#snow {
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}

.background-image {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  position: absolute;
  top: 60vh;
  left: 35%;
  transform: translate(-50%, 0);
  font-family: 'Domaine Display', serif;
  font-size: 26px;
  color: #222;
  padding: 5px 10px 5px 10px;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 10;
  font-weight: 500;
}

.main-links {
  position: absolute;
  left: 35%;
  transform: translate(-50%, -10px);
  width: 200px;
  top: 60vh;
  margin-top: 50px;
  display:flex;
  justify-content: space-around;
  font-size: 14px;
  opacity: 0;
  transition: opacity .5s ease-in, transform .5s ease-in;
  z-index: 11;
}

a {
  text-decoration: none !important;
}  

.main-link {
  cursor: pointer;
  padding: 3px;
  color: #222;
}

.main-link:hover {
  background-color: #ccc;
}

.main-link-text {
  padding-left: 8px;
}

.more-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10px);
  bottom: 40px;
  color: #222;
  cursor: pointer;
  font-size: 14px;
  opacity: 0;
  transition: opacity .5s ease-in, transform .5s ease-in;
  z-index: 11;
}

.arrow-down {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 20px;
  color: #222;
  cursor: pointer;
  opacity: 0;
  transition: opacity .5s ease-in, transform .5s ease-in;
  z-index: 11;
}

.nav {
  width: 100%;
  height: 50px;
  background-color: rgba(34, 34, 34, .8);
  border-bottom: 2px solid #000;
  z-index: 1000;
}

.nav-wrap {
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  color: #fff;
}

.nav-list:hover {
  color: #ccc;
}


.nav-bar {
  width: 100px;
  position: absolute;
  top: 0px;
  left: -100px;
  height: 2px;
  background: #fff;
  transition: left .3s;
}

.about-page,
.skill-page,
.research-page,
.project-page,
.more-page {
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
}

.about-page,
.research-page,
.project-page {
  min-height: 100vh;
}

.more-page {
  min-height: calc(100vh + 30px);
}

.skill-page,
.project-page {
  background-color: #eee;
}

.skill-page {
  height: 100vh;
  min-height: 800px;
  position: absolute;
}

.contact-page {
  padding-top: 100px;
  width: 100%;
  height: 400px;
  background-color: #222;
  text-align: center;
  position: relative;
}

.logo {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #ccc;
  transform-origin: 50% 50%;
  stroke-width: 1px;
}

.logo path:first-child {
  stroke: #0d8aba;
}

.logo path:last-child {
  stroke: #222;
}

.logo:hover path:first-child {
  fill: #0d8aba;
  fill-opacity: 0;
  stroke-dasharray: 164;
  stroke-dashoffset: 164;
  animation: logo-anim 1s linear forwards;
}

.logo:hover path:last-child {
  fill: #222;
  fill-opacity: 0;
  stroke-dasharray: 86;
  stroke-dashoffset: 86;
  animation: logo-anim 1s linear forwards;
}

@keyframes logo-anim {
  90% {
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

.about-wrap {
  margin: 15px auto;
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.about-text {
  width: 600px;
  max-width: 80%;
  text-align: left;
  color: #222;
  font-size: 16px;
}

.about-text > div {
  padding: 10px;
  opacity: 0;
  transform: translateX(-100px);
}

.about-text-paragraph {
  transition: transform 1s ease-out;
}

.about-text-paragraph:hover {
  transform: scale(1.05);
  transition: transform 1s ease-out;
}

.about-links {
  font-size: 13px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 12px 0px 0px 10px;
  opacity: 0;
  transform: translateY(100px);
}

.about-link {
  padding: 5px;
  text-align: left;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.about-link-main {
  transition: all .75s ease-out;
}

.about-link-secondary {
  position: absolute;
  opacity: 0;
  transform: scale(0);
  transition: all .75s ease-out;
}

.about-link:hover .about-link-main {
  opacity: 0;
  transform: scale(1.5);
  transition: all .75s ease-out;
}

.about-link:hover .about-link-secondary {
  opacity: 1;
  transform: scale(1);
  transition: all .75s ease-out;
}

.circle-icon {
  border-radius: 999px;
  background-color: #555;
  color: #fff;
  width: 29px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title {
  height: 50px;
  font-size: 32px;
  margin: 0px auto 0px auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #222;
}

.contact-page .section-title {
  color: #fff;
}

.underline {
  padding-top: 5px;
  padding-bottom: 20px;
  border-top: 3px solid #222;
  width: 60px;
  height: 5px;
  margin: 0 auto;
  opacity: 0;
  transform: translateX(-50px);
}

.contact-page .underline {
  border-top-color: #fff;
}

.number-cards,
.projects {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 90%;
  flex-wrap: wrap;
  opacity: 0;
  transform: translateY(100px);
}

.number-cards {
  padding-top: 40px;
  padding-bottom: 40px;
}

.projects {
  max-width: 1300px;
}

.number-cards-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  font-size: 20px;
  color: #aaa;
  font-style: italic;
}

.number-cards-title-line {
  width: 50px;
  height: 2px;
  border-bottom: 1px solid #aaa;
}

.number-cards-title:hover .number-cards-title-line {
  animation: number-cards-title-anim 1.5s normal ease;
}

@keyframes number-cards-title-anim {
  0%,100% {
    width: 50px;
  }
  50% {
    width: 0px;
  }
}

.number-card {
  display: inline;
  margin: -1px 0 0 -1px;
  width: 250px;
  height: 200px;
  position: relative;
}

.number-card .card {
  border-radius: 0px;
}


.number-card .card-body {
  padding: 15px;
}

.number {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.number-desc {
  height: 80px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

.number-card-front {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 1;
}

.number-card-front .card {
  border: 1px solid rgba(0,0,0,0.05);
}

.number-card-back {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  transform: scaleY(0);
}

.number-card-back .card-body {
  width: 100%;
  height: 100%;
  background-color: #555;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number-card-back a {
  color: #fff;
  text-decoration: underline !important;
}

.number-card-back a:hover {
  color: #ccc;
}

.project-card {
  margin: 20px;
  width: 250px;
  height: 300px;
  background-color: #fff;
}

.project-card.card {
  border: none;
  border-radius: 0;
}

.project-card > img {
  transition: max-height .5s ease;
  border-radius: 0;
  filter: grayscale(40%);
  transition: all .5s;
}

.project-card > img:hover {
  filter: grayscale(0%);
  transition: all .5s;
}

.project-card .card-body {
  opacity: 0;
  transform: translateX(-50px);
}

.project-card-title {
  font-family: 'Oswald', sans-serif;
}

.project-card-expanded {
  transition: opacity .5s;
}

.project-card-expanded .badge {
  background-color: #fff;
  color: #aaa;
  border: 1px solid #aaa;
  margin: 3px;
}

.project-card-expanded a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
}

.project-card-expanded a:hover {
  color: #555;
}

.project-card-link {
  border-radius: 15px;
  width: 30px;
  height: 30px;
  border: 1px solid #555;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 30px;
}

.project-card-link:not(.nolink):hover {
  width: 100px;
}

.project-card-link span {
  transform: scaleX(0);
  width: 0;
  white-space: nowrap;
}

.project-card-link:not(.nolink):hover span {
  transform: scaleX(1);
  width: auto;
  padding: 5px;
  transition: transform .5s;
}

.project-card-link.nolink {
  border: 1px solid #eee;
}

.project-card .card-text {
  line-height: 1.2;
}

.skill-chart-wrap {
  width: 80%;
  height: 500px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: top;
}

.skills {
  width: 60%;
  height: 100%;
  margin: 0;
}

.scroll-to-top,
.scroll-to-content {
  position: absolute;
  background-color: #ddd;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  overflow: hidden;
  cursor: pointer;
  z-index: 11;
}

.scroll-to-top {
  transform: translate(-50%, -50%);
  border: 4px solid #fff;
}

.scroll-to-content {
  transform: translate(-50%);
  bottom: 50px;
}

.scroll-to-top:hover,
.scroll-to-content:hover {
  background-color: #bbb;
}

.scroll-to-top:hover > .scroll-arrow {
  animation: scroll-arrow-anim-up 1s normal ease;
}

.scroll-to-content:hover > .cover-scroll-arrow {
  animation: scroll-arrow-anim-down 1s normal ease;
}

@keyframes scroll-arrow-anim-up {
  0%,100% {
    transform: translate(0%,0%);
    opacity: 1;
  }
  49% {
    transform: translate(0%, -125%);
    opacity: 1;
  }
  50% {
    transform: translate(0%, -125%);
    opacity: 0;
  }
  51% {
    transform: translate(0%, 125%);
    opacity: 0;
  }
}

@keyframes scroll-arrow-anim-down {
  0%,100% {
    transform: translate(0%,0%);
    opacity: 1;
  }
  49% {
    transform: translate(0%, 125%);
    opacity: 1;
  }
  50% {
    transform: translate(0%, 125%);
    opacity: 0;
  }
  51% {
    transform: translate(0%, -125%);
    opacity: 0;
  }
}

.scroll-to-top-radius-left {
  position: absolute;
  margin: 0 auto;
  z-index: 10;
  left: 50%;
  transform: translateY(-2px) scale(-1,1);
  transform-origin: 0 0;
}
.scroll-to-top-radius-right {
  position: absolute;
  margin: 0 auto;
  z-index: 10;
  left: 50%;
  transform: translateY(-2px);
}

.skill-category {
  padding: 2px;
  margin: 5px;
  width: 250px;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  color: #555;
  cursor: pointer;
}

.skill-category-line {
  border-top: 1px solid #555;
  width: 30px;
  height: 2px;
  margin: 10px auto 10px auto;
}

.skill-category-active,
.skill-category:hover {
  font-weight: 600;
}

.skill-category-bracket {
  padding: 0 5px 0 5px; 
  visibility: hidden;
}

.skill-category-active .skill-category-bracket,
.skill-category:hover .skill-category-bracket {
  visibility: visible;
}

.skill-bar-empty {
  fill: #555;
}

.skill-name-background {
  fill: #fff;
}

.skill-name {
  text-anchor: middle;
  alignment-baseline: middle;
  font-size: 14px;
}

.skill-chart-wrap {
  position: absolute;
  width: 100%;
  margin: 100px auto 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-logo {
  width: 60px;
  height: 60px;
  opacity: 0;
  transform: scale(0);
  filter: contrast(0%) brightness(50%) invert(100%) drop-shadow(0 0 1px #aaa);
}

.skill-logo > img {
  object-fit: contain;
}

@media (max-width: 750px) {
  .skill-logo {
    display: none; 
  }
}

@media (max-width: 650px) {
  .skill-categories {
    display: none;
  }
}

.keywords-wrap {
  width: 80%;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 0px auto 10px auto;
  flex-wrap: wrap;
}

.keywords-title {
  font-weight: bold;
  transform: translateX(-100px);
}

.keywords-title,
.keyword {
  margin: 0 5px 0 5px;
  opacity: 0;
}

.keyword {
  border-radius: 999px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.researches {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.research {
  width: 100%;
  min-height: 20vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  opacity: 0;
  transform: translateX(100px);
  margin-top: 10px;
  margin-bottom: 10px;
}

.research-image-wrap {
  width: 20vw;
  height: 20vw;
  min-width: 120px;
  min-height: 120px;
  max-width: 300px;
  max-height: 300px;
  clip-path: circle(50%);
}

.research-image {
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  transition: transform 1s ease-out;
}

.research:hover .research-image {
  transform: scale(1.1);
  transition: transform 1s ease-out;
}

.research-text {
  width: 50vw;
  text-align: left;
  min-width: 300px;
  padding: 5px;
}

.research-title {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.research-detail {
  font-size: 14px;
}

.research-button {
  margin-top: 3px;
  border-radius: 999px !important;
}

.research-more-button {
  position: relative;
  width: 250px;
  height: 50px;
  margin: 0 auto;
  border-radius: 9999px;
  border: 1px solid #555;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 50px;
}

.research-more-button-front {
  color: #555;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.research-more-button:hover .research-more-button-front {
  color: #fff;
  transition: color .5s;
}

.research-more-button:hover .research-more-button-arrow {
  transform: translateX(12px);
  transition: transform .5s;
}

.research-more-button-arrow {
  padding-left: 5px;
}

.research-more-button-background {
  position: absolute;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: #555;
  border-radius: 9999px;
}

.research-more-button:hover .research-more-button-background {
  width: 100%;
  transition: width .5s;
}

.more-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.more-item {
  width: 260px;
  height: 260px;
  position: relative;
  margin: 20px;
  text-align: center;
  cursor: auto;
}

.more-circle-svg {
  position: absolute;
  display: block;
  margin: auto;
}

.more-circle {
  fill: transparent;
  stroke: #eee;
  stroke-width: 10px;
  stroke-dasharray: 785.3982px;
  stroke-dashoffset: 0px;
  stroke-linecap: square;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}

.more-circle-back {
  fill: transparent;
  stroke: #555;
  stroke-width: 10px;
  stroke-dasharray: 785.3982px;
  stroke-dashoffset: 785.3982px;
  stroke-linecap: square;
  transform-origin: 50% 50%;
  transform: scale(1, -1) rotate(90deg);
}

.more-item:hover .more-circle {
  stroke-dashoffset: 785.3982px;
  transition: stroke-dashoffset 1s;
}

.more-item:hover .more-circle-back {
  stroke-dashoffset: 0px;
  transition: stroke-dashoffset 1s;
}

.more-circle-anim {
  fill: transparent;
  stroke: #fff;
  stroke-width: 12px;
}

.more-item-title,
.more-item-number,
.more-item-description {
  position: absolute;
  width: 100%;
  color: #000;
}

.more-item-logo {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.more-item:hover .more-item-logo {
  display: none;
}

.more-item-title {
  top: 50px;
  text-transform: uppercase;
}

.more-item-number {
  top: 90px;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.more-item-description {
  bottom: 65px;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
}

.more-item-pic {
  position: absolute;
  margin: 9px;
  width: 242px;
  height: 242px;
  border-radius: 125px;
  background-size: cover;
  opacity: 0;
  filter: brightness(50%);
}

.more-item:hover .more-item-pic {
  opacity: 1;
  cursor: pointer;
  transition: opacity ease-out .5s;
}

.more-item:hover .more-item-title,
.more-item:hover .more-item-number,
.more-item:hover .more-item-description {
  color: #fff;
  text-shadow: 0px 0px 2px #222;
  cursor: pointer;
  transition: all ease-out .5s;
}

.contact-email {
  font-size: 25px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 200;
}

.contact-email > span:nth-child(3) {
  padding-left: 2px;
  padding-right: 2px;
}

@keyframes email-anim {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}


a > .contact-email {
  color: #fff !important;
}

a:hover > .contact-email {
  color: #ccc !important;
  animation: email-anim 1s both;
}

.at {
  padding: 2px;
}

.tooltip {
  transition: opacity .5s;
}

.footer {
  position: absolute;
  bottom: 30px;
  left: 50px;
  right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.footer-icon {
  margin-right: 10px;
  cursor: pointer;
  color: #666;
}

.footer-icon a {
  color: #666 !important;
}

.footer-icon:hover,
.footer-icon a:hover {
  color: #999 !important;
}

.footer-tooltip {
  background-color: #fff !important;
  border-radius: 15px !important;
  color: #222 !important;
}

.footer-tooltip-arrow::before {
  border-top-color: #fff !important;
}

.wechat-tooltip {
  width: 150px !important;
  height: 150px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pgp-tooltip {
  font-size: 12px !important;
}

.pgp-text {
  font-family: monospace;
  border-bottom: 1px dotted #222;
  color: #222;
}

a .pgp-text:hover {
  color: #999;
  border-bottom: 1px dotted #999;
}

.footer-right {
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  text-shadow: 0 0 3px #000;
}

.heart {
  padding: 3px;
  color: #f00;
  opacity: 1;
  transform: scale(1) translateY(-1px);
  transform-origin: 50% 50%;
  transition: transform .5s;
}

.footer-right:hover .heart {
  transform: scale(1.3) translateY(-1px) !important;
  transition: transform .5s;
}

.footer-background {
  position: absolute;
  height: 250px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0px;
  bottom: 0;
  left: 0;
  background-blend-mode: lighten;
  background-color: #222;
  background-position: center bottom;
}

.cover {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #fff;
}

.cover-image {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-title {
  position: absolute;
  top: 30%;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  align-items: center;
  font-size: 36px;
  margin-top: 20px;
  cursor: pointer;
  z-index: 100;
  background-color: rgba(0,0,0,.1);
  color: #222;
}

.cover-title-cross {
  display: flex;
}

.cover-title-text {
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
}

.cover-quote {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 350px;
  font-style: italic;
  text-align: center;
}

.cover-author {
  font-style: normal;
  padding-top: 10px;
}

.cover-logo {
  position: fixed;
  z-index: 10;
  padding: 6px;
  margin: 12px;
  transform-origin: 50% 50%;
  background-color: #fff;
  border-radius: 9999px;
}

.cover-back-home-wrap {
  position: fixed;
  z-index: 10;
}

.cover-back-home {
  position: fixed;
  padding: 6px;
  margin: 11px 0px 11px 12px;
  z-index: 11;
  display: flex;
  align-items: center;
  transform: translate(10px);
  opacity: 0;
  animation: back-home-anim .5s ease-in forwards;
}

@keyframes back-home-anim {
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.cover-back-home > span {
  margin-left: 20px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  transform: translateY(1px);
}

.reading-list {
  padding-top: 100px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
}

.book {
  padding: 20px;
  cursor: pointer;
}

.book > img {
  border-radius: 10px;
}

.book:hover > img {
  transform: rotate(5deg);
  box-shadow: 5px -5px 20px rgba(0,0,0,.2);
  transition: all .5s;
}

.book-title {
  font-size: 14px;
  margin-top: 15px;
  width: 143px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-title-underline {
  width: 100%;
  height: 2px;
  border-top: solid 1px #ccc;
  opacity: 0;
  transform: translateY(50px);
}

.book:hover .book-title-underline {
  opacity: 1;
  transform: translateY(0);
  transition: all .5s;
}

.book-detail {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.book-detail-background {
  position: absolute;
  top: 300px;
  bottom: -100px;
  left: 0;
  width: 100%;
  background-color: #eee;
}

.book-detail-img {
  padding: 100px 75px 100px 75px;
  position: relative;
}

.book-detail-img > a {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  opacity: 0;
  border: 2px solid #fff;
  color: #fff !important;
}

.book-detail-img > img {
  border-radius: 5px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, .2);
}

.book-detail-img:hover > img {
  transition: all .5s;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, .2);
}

.book-detail-info {
  max-width: 90vw;
  width: 600px;
  padding: 100px 75px 100px 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transform: translateY(100px);
}

.book-detail-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

.book-detail-author {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  display: inline-block;
  color: #999;
  font-weight: normal;
}

.book-detail-tags {
  margin-top: 25px;
}

.book-detail-tag {
  background-color: #fff;
  margin: 5px;
  padding: 8px;
  font-size: 12px;
  border-radius: 9999px;
  color: #999;
  font-weight: normal;
  white-space: nowrap;
}

.book-detail-links {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.book-detail-link {
  margin: 5px;
  background-color: #555;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-detail-link:hover {
  background-color: #999;
  transition: all .5s;
}

.book-detail-link > a {
  color: #fff !important;
}

.book-quotes {
  background-color: #555;
  text-align: center;
  min-height: 50vh;
  padding-top: 100px;
  padding-bottom: 100px;
  transform: translateY(100px);
}

.book-quotes-icon {
  position: absolute;
  background-color: #eee;
  margin: -100px auto;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  overflow: hidden;
  z-index: 11;
  transform: translate(-50%, -50%);
  padding-top: 40px;
  font-family: 'Playfair Display', serif;
  font-size: 150px;
  font-weight: bold;
}

.book-quotes .section-title {
  color: #fff;
}

.book-quotes .underline {
  border-top-color: #fff;
}

.book-quote {
  width: 60%;
  margin: 30px auto 30px auto;
  color: #fff;
  text-align: center;
  padding: 30px;
  line-height: 2;
  font-family: Georgia, "Nimbus Roman No9 L", "Songti SC", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
  font-weight: normal;
  position: relative;
}

.book-quote:hover {
  font-weight: bold;
}

.book-quote-left {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20px;
  border-top: solid 3px #fff;
  border-left: solid 3px #fff;
  border-bottom: solid 3px #fff;
  opacity: 0;
}

.book-quote-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 20px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  border-bottom: solid 3px #fff;
  opacity: 0;
}

.book-quote:hover .book-quote-left,
.book-quote:hover .book-quote-right {
  opacity: 1;
  transition: opacity .5s;
} 

.book-quote ol,
.book-quote ul {
  text-align: left; 
}

.bold {
  font-weight: bold;
}

.cv-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cv-photo {
  width: 200px;
  height: 200px;
  position: relative;
  transition: all .5s;
}

.cv-photo > img {
  position: absolute;
  border-radius: 100px;
}

.cv-photo-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ebf8f6;
  border-radius: 100px;
  transition: all .5s;
}

.cv-photo:hover {
  transform: translateY(5px);
  transition: all .5s;
}

.cv-photo:hover .cv-photo-background {
  background-color: #c5ebe5;
  transform: scale(.8);
  transition: all .5s;
}

.cv-name {
  font-size: 28px;
  padding-top: 10px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cv-nickname {
  position: absolute; 
  top: 0;
  margin: 10px auto;
  transform: translateY(30px);
  opacity: 0;
  z-index: 10;
  background-color: #fff;
  transition: all .5s;
}

.cv-name:hover .cv-nickname {
  transform: translateY(0px);
  opacity: 1;
  transition: all .5s;
}

.cv-basic {
  margin-top: 20px;
}

.cv-basic-info {
  padding-left: 15px;
}

.cv-basic-row {
  white-space: nowrap;
}

.cv-basic-row a {
  color: #555;
}

.cv-basic-row:hover a {
  color: #000;
  border-bottom: dashed 1px #000;
}

.cv-basic-row:hover svg {
  filter: brightness(20%);
  transition: filter .5s;
}

.cv-section {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.cv-section .badge {
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: #eee;
  color: #000;
  font-weight: normal;
}

.cv-section-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #0d8aba;
  padding-top: 30px;
  display: flex;
  align-items: center;
}

.cv-section-title-text-wrap {
  background-color: #fff;
  z-index: 10;
  padding-right: 10px;
  display: inline-flex;
  align-items: center;
}

.cv-section-title-text {
  padding-left: 10px;
}

.cv-section-line {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  border-top: 1px solid #0d8aba;
}

.cv-item {
  margin-top: 10px;
}

.cv-link {
  color: #000;
}
.cv-link:hover {
  color: #000;
  border-bottom: dashed 1px #000;
}

.cv-item-title .under {
  border-bottom: solid 1px #000;
}

.cv-item-right {
  color: #555;
  text-align: right;
}

.cv-section ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cv-details {
  font-size: 80%;
}

.cv-details a {
  color: #aaa;
}

.cv-details a:hover {
  color: #000;
  border-bottom: dashed 1px #000;
}

.cv-courses span:not(:first-child):not(:last-child)::after {
  content: ', ';
  padding-right: 3px;
}

.cv-courses a {
  color: #aaa;
  padding-left: 3px;
  font-size: 85%;
}

.cv-courses a:hover {
  color: #555;
}

/* for small screens */
@media (max-width: 964px) {
  .about-links {
    width: 600px;
    max-width: 80%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .about-link {
    width: auto !important;
    padding: 5px;
  }
}

@media (max-width: 500px) {
  .nav-list {
    font-size: 80%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 600px) {
  .about-wrap {
    max-width: 100%;
  }

  .book-detail-title {
    font-size: 24px;
  }

  .book-quote {
    width: 90%;
  }

  .book-detail-info {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 702px) {
  .keywords-title {
    flex-basis: 100%;
  }
}

/* hack to maintain at least two items in the last row
 * except when every row has only one item */
@media (max-width: 1110px) and (min-width: 830px ) {
  .number-cards {
    width: 60%;
  }
}

@media (max-width: 410px) {
  .footer {
    left: 20px;
    right: 20px;
  }
}

@media (max-width: 1035px) {
  .book-detail-info {
    transform: translateY(0);
    padding-top: 0;
    padding-left: 50px;
    padding-right: 50px;
  }  
}

@media (min-width: 600px) and (max-width: 1100px) {
  .book-quote {
    width: 80%;
  }
} 

@media (max-height: 600px) {
  .cover-quote,
  .cover-author {
    display: none;
  }
}

@media (min-width: 992px) {
  .cv-teaching-details {
    columns: 2;
    list-style: inside disc;
  }
}
