#root, body, html {
  height: 100%;
  background-color: #fff;
}

.background {
  height: 100vh;
  width: 100%;
}

.background-image {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  position: absolute;
  top: 60vh;
  left: 35%;
  transform: translate(-50%, 0);
  font-family: serif;
  font-size: 24px;
  font-weight: bold;
  background-color: #222;
  color: #fff;
  padding: 5px 10px 5px 10px;
  white-space: nowrap;
}

.main-links {
  position: absolute;
  left: 35%;
  transform: translate(-50%, -10px);
  width: 200px;
  top: 60vh;
  margin-top: 50px;
  display:flex;
  justify-content: space-around;
  font-size: 14px;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in, transform .5s ease-in;
  transition: opacity .5s ease-in, transform .5s ease-in;
}

a {
  text-decoration: none !important;
}  

.main-link {
  cursor: pointer;
  padding: 3px;
  color: #222;
  display: flex;
  align-items: center;
}

.main-link:hover {
  background-color: #ccc;
}

.main-link-text {
  padding-left: 5px;
}

.more-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10px);
  bottom: 40px;
  color: #222;
  cursor: pointer;
  font-size: 14px;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in, transform .5s ease-in;
  transition: opacity .5s ease-in, transform .5s ease-in;
}

.arrow-down {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 20px;
  color: #222;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in, transform .5s ease-in;
  transition: opacity .5s ease-in, transform .5s ease-in;
}

@keyframes arrow-down-flash {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes arrow-down-flash {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}


.nav {
  width: 100%;
  height: 50px;
  background-color: rgba(34, 34, 34, .8);
  border-bottom: 2px solid #000;
  z-index: 1000;
}

.nav-wrap {
  width: 100%;
  height: 100%;
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.nav-list {
  width: 100px;
  height: 100%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  color: #fff;
}

.nav-bar {
  width: 100px;
  position: absolute;
  top: 0px;
  left: -100px;
  height: 2px;
  background: #fff;
  transition: left .3s;
}

.about-page,
.skill-page,
.project-page {
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
}

.about-page {
  min-height: 100vh;
}

.skill-page {
  height: 100vh;
  min-height: 800px;
  background-color: #eee;
  position: absolute;
}

.project-page {
  min-height: calc(100vh + 30px);
}

.contact-page {
  padding-top: 100px;
  width: 100%;
  height: 60vh;
  background-color: #222;
  text-align: center;
}

.logo {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  opacity: 0;
  transform: rotateY(90deg);
}

.about-text {
  width: 600px;
  max-width: 80%;
  margin: auto;
  text-align: left;
  color: #222;
  font-size: 16px;
}

.about-text > div {
  padding: 10px;
  opacity: 0;
  transform: translateX(-100px);
}

.section-title {
  height: 50px;
  font-size: 32px;
  margin: 0px auto 0px auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #222;
}

.contact-page .section-title {
  color: #fff;
}

.underline {
  padding-top: 5px;
  padding-bottom: 20px;
  border-top: 3px solid #222;
  width: 60px;
  height: 5px;
  margin: 0 auto;
  opacity: 0;
  transform: translateX(-50px);
}

.contact-page .underline {
  border-top-color: #fff;
}

.number-cards,
.projects {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
  opacity: 0;
  transform: translateY(100px);
}

.number-card {
  margin: 40px 20px 20px 20px;
  width: 250px;
  height: 200px;
  position: relative;
}

.number {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.number-desc {
  height: 80px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

.number-card-front {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 1;
}

.number-card-back {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  transform: scaleY(0);
}

.number-card-back .card-body {
  width: 100%;
  height: 100%;
  background-color: #555;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number-card-back a {
  color: #fff;
  text-decoration: underline;
}

.number-card-back a:hover {
  color: #ccc;
}

.project-card {
  margin: 20px;
  width: 250px;
  height: 300px;
  background-color: #fff;
}

.project-card > img {
  transition: max-height .5s ease;
}

.project-card .card-body {
  opacity: 0;
  transform: translateX(-50px);
}

.project-card-title {
  font-family: 'Oswald';
}

.skill-chart-wrap {
  width: 80%;
  height: 500px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: top;
}

.skills {
  width: 60%;
  height: 100%;
  margin: 0;
}

.scroll-to-top {
  position: absolute;
  background-color: #555;
  border: 2px solid #eee;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  transform: translate(-50%, -50%);
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  overflow: hidden;
  cursor: pointer;
}

.scroll-to-top:hover {
  background-color: #222;
}

.scroll-to-top:hover > .scroll-arrow {
  animation: scroll-arrow-anim 1s normal ease;
}

@keyframes scroll-arrow-anim {
  0%,100% {
    transform: translate(0%,0%);
    opacity: 1;
  }
  49% {
    transform: translate(0%, -125%);
    opacity: 1;
  }
  50% {
    transform: translate(0%, -125%);
    opacity: 0;
  }
  51% {
    transform: translate(0%, 125%);
    opacity: 0;
  }
}

.skill-category {
  padding: 2px;
  margin: 5px;
  width: 250px;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  color: #555;
  cursor: pointer;
}

.skill-category-line {
  border-top: 1px solid #555;
  width: 30px;
  height: 2px;
  margin: 10px auto 10px auto;
}

.skill-category-active,
.skill-category:hover {
  font-weight: 600;
}

.skill-category-bracket {
  padding: 0 5px 0 5px; 
  visibility: hidden;
}

.skill-category-active .skill-category-bracket,
.skill-category:hover .skill-category-bracket {
  visibility: visible;
}

.skill-bar-empty {
  fill: #555;
}

.skill-name-background {
  fill: #fff;
}

.skill-name {
  text-anchor: middle;
  alignment-baseline: middle;
  font-size: 14px;
}

.skill-bar {
  fill: #0d8aba;
}

.skill-chart-wrap {
  position: absolute;
  width: 100%;
  margin: 100px auto 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-logo {
  width: 60px;
  height: 60px;
  opacity: 0;
  transform: rotateY(90deg);
  filter: contrast(0%) brightness(50%) invert(100%);
  -webkit-filter: contrast(0%) brightness(0%) invert(100%);
}

.skill-logo > img {
  object-fit: contain;
}

@media (max-width: 500px) {
  .skill-logo {
    display: none;
  } 

  .skill-categories {
    display: none;
  }
}
