#root, body, html {
  height: 100%;
  background-color: #fff;
}

.background {
  background-image: url('/fabrice-villard-584622-unsplash.jpg');
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  position: absolute;
  top: 60vh;
  left: 35%;
  transform: translate(-50%, 0);
  font-family: serif;
  font-size: 24px;
  background-color: #222;
  color: #fff;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  white-space: nowrap;
}

.main-links {
  position: absolute;
  left: 35%;
  transform: translate(-50%, 0);
  width: 200px;
  top: 60vh;
  margin-top: 45px;
  display:flex;
  justify-content: space-around;
  font-size: 14px;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in, margin-top .5s ease-in;
  transition: opacity .5s ease-in, margin-top .5s ease-in;
}

a {
  text-decoration: none;
}  

.main-link {
  cursor: pointer;
  padding: 3px;
  color: #222;
  display: flex;
  align-items: center;
}

.main-link:hover {
  background-color: #ccc;
}

.main-link-text {
  padding-left: 5px;
}

.nav {
  width: 100%;
  height: 50px;
  background-color: #222;
  border-bottom: 2px solid #000;
  z-index: 1000;
  opacity: .8;
}

.nav-wrap {
  width: 100%;
  height: 100%;
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.nav-list {
  width: 100px;
  height: 100%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  color: #fff;
}

.nav-bar {
  width: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 2px;
  background: #fff;
  transition: left .3s;
}

.about-page,
.project-page {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
}

.project-page {
  background-color: #eee;
}

.contact-page {
  padding-top: 100px;
  width: 100%;
  height: 60vh;
  background-color: #222;
  text-align: center;
}

.logo {
  height: 100px;
  width: 100px;
}

.about-text {
  width: 600px;
  max-width: 80%;
  margin: auto;
  text-align: left;
  color: #222;
  font-size: 16px;
}

.about-text > div {
  padding: 10px;
}

.section-title {
  height: 50px;
  font-size: 32px;
  margin: 0px auto 0px auto;
  font-weight: bold;
  color: #222;
}

.underline {
  padding-top: 5px;
  padding-bottom: 20px;
  border-top: 3px solid #222;
  width: 60px;
  height: 5px;
  margin: 0 auto;
}

.projects {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
}

.project-card {
  margin: 20px;
  width: 200px;
  height: 160px;
  border: 3px solid #222;
  padding: 10px;
  text-align: center;
  transition: background-color ease-in .3s;
}

.project-card:hover {
  background-color: #222;
  color: #fff;
  transition: background-color ease-in .3s;
}

.white {
  color: #fff !important;
  border-top-color: #fff !important;
}
