@import url('https://fonts.css.network/css?family=Lato:300,700');
@import url('https://fonts.css.network/css?family=Montserrat:700&text=ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789');
@import url('https://fonts.css.network/css?family=Oswald:400,600');
@import url('https://fonts.css.network/css?family=Exo+2:200&text=me%40yliu.io');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif !important;
  font-weight: 300 !important;
}
